@tailwind base;

@tailwind components;

@tailwind utilities;



/*create my own utilities*/

.rotate-45 {
    transform: rotate(45deg);
}

@variants hover{
    .zoom {
        transform: scale(2);
    }
}

/*Creating a components with tailwind*/

h1 {
    @apply text-3xl font-sans text-center
}

h2 {
    @apply text-base tracking-tight font-semibold text-gray-900 text-center text-base
}

h3 {
    @apply bg-indigo-200 font-bold text-center tracking-tight text-black mx-8 text-base 
}


/*Header Section*/
.header {
    @apply bg-dark p-1 grid grid-cols-2 text-accent py-3
}

.logo {
    @apply rounded-full h-24 w-24 flex items-center justify-center bg-indigo-200
}

/*Nav inside of header*/

.nav-ul {
    @apply font-serif hidden text-indigo-200
}

/*Introduction Section */

.intro {
    @apply mx-8 grid gap-6 py-10
}

/*Services Section */

.services {
    @apply bg-dark text-white py-10 mt-4
}

.services-parrafo {
    @apply py-3 mx-8 text-justify subpixel-antialiased tracking-tight text-base
}

.boton {
    @apply bg-accent shadow-lg p-4 rounded-full text-dark text-center 
}

/*Works Section */

.work {
    @apply bg-dark text-white py-10 z-10 relative
}

.work-card {
    @apply mx-8 my-5
}

/*Footer Section */

.footer {
    @apply mx-auto my-4 text-center sticky top-0 bottom-0 w-full
}

